{
  "plugins": ["flowtype"],
  "extends": ["airbnb", "plugin:flowtype/recommended", "prettier"],
  "parser": "babel-eslint",
  "settings": {
    "import/resolver": "webpack"
  },
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "no-console": 0,
    "flowtype/require-valid-file-annotation": [
      2,
      "always",
      {
        "annotationStyle": "line"
      }
    ],
    "react/jsx-filename-extension": 0,
    "react/jsx-one-expression-per-line": 0,
    "react/require-default-props": 0,
    "react/destructuring-assignment": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "jsx-a11y/no-static-element-interactions": 0,
  }
}