body,
div,
span,
img,
ul,
ol,
li,
input,
h1,
h2,
h3,
h4,
h5,
h6,
a {
  display: flex;
  flex-direction: column;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: var(--app-bg-color);
  flex-direction: row;
}

.content {
  flex-grow: 1;
  padding: 1rem;
}

/*

Blacks:

ec
d9
c6
b3 [ui copy]
a0
8e
7b
68
55
42
#30
2c
28
23
1f

Red:

ed5e34
#EC4E20
d7471e

Blue:

627Ec7
5170C1
#4062BB
3b5aaa
35519a

Yellow: #D7CF07
Purple: #9E788F

*/
