.shade {
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  right: 0;
  bottom: 0;
  opacity: 0.75;
}
.modal {
  position: fixed;
  top: 3rem;
  left: 3rem;
  right: 3rem;
  bottom: 3rem;
  background-color: #303030;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
}
