.preview {
  flex: 0 0 auto;
  flex-direction: row;
  background-color: black;
  overflow-x: scroll;
}

.action {
  line-height: 2.5rem;
  color: #b3b3b3;
  flex-direction: row;
}

.pane {
  flex: 0 0 auto;
  justify-content: space-between;
}

.previewFrame {
  flex: 1 0;
  overflow: hidden;
  text-align: center;
  padding: 1rem;
}
