.header {
  position: relative;
  height: 60px;
}

.textBox {
  text-align: center;
  vertical-align: middle;
}

.text {
  font-weight: 120;
  line-height: 60px;
}

.logoBox {
  position: absolute;
  padding: 0 10px;
  background-color: var(--app-menu-color);
  line-height: 60px;
}

.logo {
  font-size: 2.4rem;
  color: var(--primary);
  padding-right: 5px;
}

.name {
  font-size: 1.9rem;
  letter-spacing: 3px;
  font-weight: 100;
  color: var(--name);
}
